.today-temperature {
  display: flex;
  padding-right: 35%;
}
.today-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.today-temperature .active {
  text-decoration: none;
}
.dataToday {
  display: flex;
  justify-content: center;
}
.units {
  display: flex;
  align-items: center;
}
.dataNow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bigtemp {
  font-size: 28px;
}
.days {
  text-align: center;
}

.today {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather.forecast-temperatures {
  font-size: 13px;
}
#search-button {
  background-color: #42a5f5;
  color: #fff;
}
#search-button:hover {
  cursor: pointer;
  background-color: #166ab0;
}
#current-button {
  background-color: #08902a;
  color: #fff;
}
#current-button:hover {
  cursor: pointer;
  background-color: #0c5c48;
}
ul {
  list-style-type: none;
}
p {
  padding-left: 10px;
  margin-bottom: 0;
}
body {
  margin: 80px;
}
section {
  background-color: #b7e4f0;
  padding: 30px;
  border-radius: 20px;
  margin: auto;
}
button {
  font-size: 18px;
  margin: 20px;
  padding: 5px 30px;
  border: none;
  border-radius: 70px;
  transition: 200ms all ease-in-out;
}
